@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2f363e;
    transition: 0.5s;
}



.container{
    position: relative;
    background: #2f363e;
    /* min-height: 500px; */
    border-radius: 8%;
    border-top-left-radius:225px ;
    border-top-right-radius:225px ;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.75),
    10px 10px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(225,225,225,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock{
    position: relative;
    width: 450px;
    height: 450px;
    background: #2f363e;
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(0,0,0,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.clock::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #2f363e;
    border: 3px solid orangered;
    border-radius: 50%;
    z-index: 100000;
}


.clock span {
    position: absolute;
    inset: 20px;
    color: orangered;
    text-align: center;
    transform: rotate(calc( 30deg * var(--i)));
    /* 360 / 12 = 30 deg */
}

.clock span b {
    font-size: 2em;
    opacity: 1;
    font-weight: 600;
    display: inline-block;
    transform: rotate(calc( -30deg * var(--i)));
}

.circle{
    position: absolute;
    width:300px ;
    height: 300px;
    border: 2px solid rgba(0,0,0,0.25);
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 10;
}

.circle i {
    position: absolute;
    width: 6px;
    height: 50%;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
}

.circle:nth-child(1) i {
    width: 2px;
}

.circle:nth-child(2) i {
    width: 6px;
}

.circle2{
    width: 240px;
    height: 240px;
    z-index: 9;
}

.circle3{
    width:180px ;
    height: 180px;
    z-index: 8;
}

.circle::before {
    content: "";
    position: absolute;
    top: -8.5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 20px var(--clr),
    0 0 60px var(--clr);
}


/* digital clock */

#time{
    margin-bottom: 40px;
    display: flex;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: 600;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 10px rgba(0,0,0,0.75);
}

#time div {
    position: relative;
    width: 60px;
    text-align: center;
    font-weight: 700;
    color: var(--clr);

}
#time div:nth-child(1)::after,
#time div:nth-child(2)::after {
    content: ':';
    position: absolute;
    right: -4px;
    bottom: 4px;

}

#time div:last-child {
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orangered;
}

#time div:nth-child(2)::after {
    animation: animate 1s steps(1) infinite ;
}
@keyframes animate {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}



/* dark/white mode */

#toggle{
    position: relative;
    display: block;
    width: 50px;
    height: 30px;
    border-radius: 160px;
    background: #222;
    margin:0 10px;
    transition: 0.5s;
    cursor: pointer;
    box-sizing: inset 0 8px 60px rgba(0,0,0,0.1),
                inset 0 8px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.1);
}

#toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0,0,0,0.5),
                inset 0 4px 4px rgba(255,255,255,0.2),
                inset 0 -4px 4px rgba(255,255,255,0.2);
    transition: 0.5s;
}

#toggle.active .indicator {
    left: 20px;
    background: linear-gradient(to bottom, #eaeaeaea, #f9f9f9f9);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1),
                inset 0 4px 4px rgba(255,255,255,1),
                inset 0 -4px 4px rgba(255,255,255,1);
}

body.active {
    background: #f8f8f8;
}
.container.active {
    background: #f8f8f8;
}

.clock.active {
    background: #f8f8f8;
}

#toggle.active {
    background: #fff;
    box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
                inset 0 2px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.05);
}

